$sides: (
  "absolute": "absolute",
  "relative": "relative",
  "fixed": "fixed",
);

#pine-app {
  @each $side-key, $side-value in $sides {
    $property: if($side-key == "", "", -#{$side-value});

    .#{$side-key} {
      position: #{$property};
    }
  }
  .top-0 {
    top: 0;
  }
  .left-0 {
    left: 0;
  }
  .right-0 {
    right: 0;
  }
  .bottom-0 {
    bottom: 0;
  }
}

#pine-app {
  .d- {
    &flex {
      display: flex;
    }
    &block {
      display: block;
    }
    &grid {
      display: grid;
    }
  }
  .flex- {
    &column {
      flex-direction: column;
    }
    &row {
      flex-direction: row;
    }
  }
  .align- {
    &center {
      align-items: center;
    }
    &end {
      align-items: flex-end;
    }
    &start {
      align-items: flex-start;
    }
  }
  .justify- {
    &center {
      justify-content: center;
    }
    &start {
      justify-content: flex-start;
    }
    &end {
      justify-content: flex-end;
    }
    &between {
      justify-content: space-between;
    }
    &evenly {
      justify-content: space-evenly;
    }
    &around {
      justify-content: space-around;
    }
  }

  .pine-row {
    display: flex;
    flex-wrap: wrap;
    .pine-col {
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
    }
    .pine-col-12 {
      flex: 0 0 100%;
      max-width: 100%;
    }

    .pine-col-11 {
      flex: 0 0 calc(11 / 12 * 100%);
      max-width: calc(11 / 12 * 100%);
    }

    .pine-col-10 {
      flex: 0 0 calc(10 / 12 * 100%);
      max-width: calc(10 / 12 * 100%);
    }

    .pine-col-9 {
      flex: 0 0 calc(9 / 12 * 100%);
      max-width: calc(9 / 12 * 100%);
    }

    .pine-col-8 {
      flex: 0 0 calc(8 / 12 * 100%);
      max-width: calc(8 / 12 * 100%);
    }

    .pine-col-7 {
      flex: 0 0 calc(7 / 12 * 100%);
      max-width: calc(7 / 12 * 100%);
    }

    .pine-col-6 {
      flex: 0 0 calc(6 / 12 * 100%);
      max-width: calc(6 / 12 * 100%);
    }

    .pine-col-5 {
      flex: 0 0 calc(5 / 12 * 100%);
      max-width: calc(5 / 12 * 100%);
    }

    .pine-col-4 {
      flex: 0 0 calc(4 / 12 * 100%);
      max-width: calc(4 / 12 * 100%);
    }

    .pine-col-3 {
      flex: 0 0 calc(3 / 12 * 100%);
      max-width: calc(3 / 12 * 100%);
    }

    .pine-col-2 {
      flex: 0 0 calc(2 / 12 * 100%);
      max-width: calc(2 / 12 * 100%);
    }

    .pine-col-1 {
      flex: 0 0 calc(1 / 12 * 100%);
      max-width: calc(1 / 12 * 100%);
    }
  }
}
