@use "_spacing";
@use "position";
@use "_colors";

:root {
  --p-light-primary: transparent;
  --p-light-secondary: transparent;
  --p-light-error: transparent;
  --p-light-warning: transparent;
  --p-light-background: transparent;
  --p-light-highlight: transparent;
  --p-dark-primary: transparent;
  --p-dark-secondary: transparent;
  --p-dark-error: transparent;
  --p-dark-warning: transparent;
  --p-dark-background: transparent;
  --p-dark-highlight: transparent;
}
html,
body,
.app {
  padding: 0;
  margin: 0;
  overflow: hidden;
}
#pine-app {
  * {
    box-sizing: border-box;
  }
  font-family: "Poppins", sans-serif;
  background-color: var(--p-light-background);
  p,
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 0;
  }
  .overflow- {
    &auto {
      overflow: auto;
    }
    &hidden {
      overflow: hidden;
    }
  }
  .elevation- {
    &no {
      box-shadow: none;
    }
    &low {
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    }
    &medium {
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    }
    &high {
      box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
    }
  }
  .rounded {
    border-radius: 8px;
    &-large {
      border-radius: 18px;
    }
    &-small {
      border-radius: 2px;
    }
  }

  .cursor- {
    &pointer {
      cursor: pointer;
    }
    &none {
      cursor: none;
    }
    &unset {
      cursor: unset;
    }
  }

  .font- {
    &size- {
      &xsmall {
        font-size: x-small;
      }
      &small {
        font-size: small;
      }
      &normal {
        font-size: medium;
      }
      &large {
        font-size: large;
      }
      &h2 {
        font-size: x-large;
      }
      &h1 {
        font-size: xx-large;
      }
    }
    &weight- {
      &light {
        font-weight: 300;
      }
      &regular {
        font-weight: 400;
      }
      &medium {
        font-weight: 500;
      }
      &semibold {
        font-weight: 600;
      }
      &bold {
        font-weight: 700;
      }
    }
  }
  @supports not selector(::-webkit-scrollbar) {
    * {
      scrollbar-width: thin;
      scrollbar-color: #7f7f7f #b5b5b5;
    }
  }

  ::-webkit-scrollbar {
    border-radius: 8px;
    width: 8px;
    height: 8px; /* A altura só é vista quando a rolagem é horizontal */
  }

  ::-webkit-scrollbar-track {
    border-radius: 8px;
    background: rgb(181, 181, 181);
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 8px;
    width: 4px;
    height: 4px;
    background-color: #7f7f7f;
    border: 2px solid #b5b5b5;
  }
}

#pine-app.dark {
  background-color: var(--p-dark-background);
  color: #f1f1f1;
  // .primary {
  //   color: var(--p-dark-primary);
  // }
  // .secondary {
  //   color: var(--p-dark-secondary);
  // }
  // .error {
  //   color: var(--p-dark-error);
  // }
  // .warning {
  //   color: var(--p-dark-warning);
  // }
  // .highlight {
  //   background-color: var(--p-dark-highlight);
  // }
}
